
/**************************** TABLE CSS *****************************************
Pretty Table Styling
CSS Tricks also has a nice writeup: http://css-tricks.com/feature-table-design/
*********************************************************************************/

.timeslot:hover, .timeslot[available="true"] {
    background: rgb(3, 98, 40) !important;
    cursor: pointer;
}

.width0 {
    width:0px;
}

table {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background-color: #fefefe;
    width:90%;
    margin:5% auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
}

th, td {
    padding: 8px 18px 8px;
    text-align: center; 
}

th {
    padding-top: 12px;
    text-shadow: 1px 1px 1px #fff;
    background-color: #e8eaeb;
    border-right:1px solid #e0e0e0;
}

td {
    border-top:1px solid #e0e0e0; 
    border-right:1px solid #e0e0e0;
}

tr.odd td {
    background-color: #f6f6f6;
}

td.first, th.first {
    text-align:left
}

td.last, th.last {
    border-right: none;
}

/*
Background gradients are completely unnessary but a neat effect.
*/

td {
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

tr.odd td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

/*
I know this is annoying, but we need additional styling so webkit will recognize rounded corners on background elements.
Nice write up of this issue: http://www.onenaught.com/posts/266/css-inner-elements-breaking-border-radius

And, since we've applied the background colors to td/th element because of IE, Gecko browsers also need it.
*/

tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables features
 */

.dataTables_wrapper {
    margin-top: 30px;
    margin-bottom: 60px;
    width: 90%;
    position: relative;
    clear: both;
    zoom: 1; /* Feeling sorry for IE */
}

.dataTables_wrapper table {
    width: 100%;
    margin-bottom: 10px;
}

.dataTables_wrapper th {
    cursor: pointer;
}

.dataTables_processing {
    position: absolute;
    top: 70px;
    left: 50%;
    width: 250px;
    height: 60px;
    margin-left: -125px;
    z-index: 100;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;

}

.dataTables_length {
    width: 40%;
    float: left;
    text-align: left;
    padding-bottom: 10px;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
    padding-bottom: 10px;
}

.dataTables_info {
    width: 60%;
    float: left;
    text-align: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
    height: 19px;
    float: left;
    cursor: pointer;
    *cursor: hand;
    color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
    text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
    outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
    color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
    padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
    padding-right: 23px;
    margin-left: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables sorting
 */

.sorting_asc {
    background: url('/static/images/datatables/sort_asc.png') no-repeat center right #e8e9e5 !important;
}

.sorting_desc {
    background: url('/static/images/datatables/sort_desc.png') no-repeat center right #e8e9e5 !important;
}

.sorting {
    background: url('/static/images/datatables/sort_both.png') no-repeat center right #e8e9e5 !important;
}

th:active {
    outline: none;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Misc
 */

.dataTables_empty {
    text-align: center;
}

.paging_full_numbers {
    width: 400px;
    height: 22px;
    line-height: 22px;
}

.paging_full_numbers a:active {
    outline: none
}

.paging_full_numbers a:hover {
    text-decoration: none;
}

.paging_full_numbers a.paginate_button,
    .paging_full_numbers a.paginate_active {
    border: 1px solid #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 5px;
    margin: 0 3px;
    cursor: pointer;
    *cursor: hand;
    color: #333 !important;
}

.paging_full_numbers a.paginate_button {
    background-color: #ddd;
}

.paging_full_numbers a.paginate_button:hover {
    background-color: #ccc;
    text-decoration: none !important;
}

.paging_full_numbers a.paginate_active {
    background-color: #b5d6af;
}

/*
 * Sorting classes for columns
 */
/* For the standard odd/even */
tr.even td.sorting_1 {
    background-color: #e7e7e7;
}
tr.even td.sorting_2 {
    background-color: #e7e7e7;
}
tr.even td.sorting_3 {
    background-color: #e7e7e7;
}

tr.odd td.sorting_1 {
    background-color: #dbdbdb;
}
tr.odd td.sorting_2 {
    background-color: #dbdbdb;
}
tr.odd td.sorting_3 {
    background-color: #dbdbdb;
}

/*
 * Custom Row Highlighting
 *
 *

table.dataTable tr:hover {
    background-color: #86BC7D;
}

tr:hover td.sorting_1, tr:hover td.sorting_2, tr:hover td.sorting_3 {
    background-color: #86BC7D;
}*/